div[data-testid='stVerticalBlock']:has(div#main-container) {
    background: #f3ecf0; 
    background: -webkit-linear-gradient(to right, #e6dbe1, #493240); 
    background: linear-gradient(to right, #c27aa1, #493240); 
    width: 1000; 
}

div[data-testid='stVerticalBlock']:has(div#head-container):not(:has(div#inner-container)) {
    background: #c04593; 
    background: -webkit-linear-gradient(to right, #e6dbe1, #493240); 
    background: linear-gradient(to right, #c27aa1, #493240); 
    padding-bottom: 25px;
    padding-top: 20px;
    border-bottom: 5px solid #1b1919;
    border-bottom-style:groove;
}

div[data-testid='stVerticalBlock']:has(div#inner-container):not(:has(div#head-container)) {
    padding-left: 50px;
}

div[data-testid='stVerticalBlock']:has(div#img-container-1) {
    padding: auto;
}
